basePath: '/path/to/directories'
prod: true
server: 'localhost:8080'
host: 'http://localhost:8000'

database:
  host: 'localhost:6379'
  password: ''
  db: 9

user:
  username: 'user'
  password: 'password'
